.feature-card{
    background-color: white;
    width: 300px;
    padding: 5px 10px;
    box-shadow: 0 0 10px rgb(226, 191, 217);
    border-radius: 10px;
}
.feature-img{
    display: block;
    margin: 20px auto;
    height: 100px; 
}
.feature-text{
    font-size: 17px;
}
.feature-container{
    display: flex;
    justify-content: space-around;
    margin: 80px 10px;
}