body{
    margin: 0;
    padding: 20px 50px;
    background-color: rgb(247, 239, 229);
}
.text-center{
    text-align: center;
}
.text-primary{
    color: rgb(103, 65, 136);
}
.text-secondary{
    color: rgb(200, 161, 224);
}
.text-heilight{
    background-color: rgb(226, 191, 217);
}
.btn-primary{
    background-color: rgb(226, 191, 217);
    margin: 20px 50px;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
}