body{
    margin: 0;
    padding: 20px 50px;
    background-color: rgb(247, 239, 229);
}
.heading{
    font-size: 50px;
}
.text-center{
    text-align: center;
}
.text-primary{
    color: rgb(103, 65, 136);
}
.text-secondary{
    color: rgb(200, 161, 224);
}
.text-heilight{
    background-color: rgb(226, 191, 217);
}
.bold-text{
    font-weight: 600;
}
.purple-color{
    background-color: rgb(101, 77, 161);
    color: white;
}
.btn-primary{
    margin: 20px 50px;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
}
